<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class=" row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 border rounded p-5 shadow-lg">
        <h1 class="font-register">Register</h1>
        <form (submit)="register()" >
          <div class="form-group form-outline">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="Name" required placeholder="Enter Your Name">
          </div>
          <div class="form-group form-outline">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="Email" required placeholder="Enter a valid email address">
          </div>
          <div class="form-group form-outline">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"  required placeholder="Enter Password" >
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
           <p class="small fw-bold mt-2 pt-1 mb-0">Do You have an account? <span><a routerLink="/login">Login</a></span>
      </div>
    </div>
  </div>
</section>











<!-- 

<section class="vh-100">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form (submit)="register()" class="border rounded p-5 shadow-lg">
          <h1 class="mb-4">Register</h1>
          <div class="form-outline mb-4">
            <label class="form-label" for="name">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="Name" required class="form-control form-control-lg" required placeholder="Enter Your Name">
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            <input type="email" id="email" name="email" [(ngModel)]="Email" required class="form-control form-control-lg" required placeholder="Enter a valid email address">
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control form-control-lg" required placeholder="Enter Password" >
          </div>
          <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
      </div>
    </div>
  </div>
</section> -->
